.footer-container {
    background-color: rgba(0, 0, 0, 0.9); /* black with 90% opacity */
    
    height: 500px;
  
    
}

.white-text {
    color: white;
    font-weight: bold;
  }

 .Legal{
     padding-top: 50px;
  }